body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

svg{
    background-color: gainsboro;
}

#canvas{
    min-width: 1000px;
    min-height: 600px
}

text {
    font-size: 12px;
}

div#tooltip {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

svg {
    background-color: #3e4444;
    margin: 5px;
    padding: 12px;
}